.flows_belal-ThinkPad-T480.json.backup
[{"id":"9e979eff.c6e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1fc8e26.f7cf8","type":"inject","z":"9e979eff.c6e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143.5,"y":37,"wires":[["b662f348.2da8c","f22040c6.dae78"]]},{"id":"90f65b72.ab2cd8","type":"debug","z":"9e979eff.c6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":698.5,"y":77,"wires":[]},{"id":"b662f348.2da8c","type":"function","z":"9e979eff.c6e4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":398.5,"y":62,"wires":[["90f65b72.ab2cd8"]]},{"id":"f22040c6.dae78","type":"function","z":"9e979eff.c6e4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":372.5,"y":243,"wires":[["90f65b72.ab2cd8"]]}]