flows_belal-ThinkPad-T480.json
[{"id":"9e979eff.c6e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1fc8e26.f7cf8","type":"inject","z":"9e979eff.c6e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143.5,"y":37,"wires":[["a43508a4.376ce8"]]},{"id":"a43508a4.376ce8","type":"function","z":"9e979eff.c6e4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":410.5,"y":61,"wires":[["a56dcad3.ebea38"]]},{"id":"a56dcad3.ebea38","type":"debug","z":"9e979eff.c6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670.5,"y":41,"wires":[]}]