flows_belal-ThinkPad-T480.json
[{"id":"9bfb234b.34c3f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"25f87754.d56cf8","type":"fawryClient","z":"9bfb234b.34c3f","name":"","url":"","api":"Pet","resource":"Pet","params":"","fawryClient":"","x":154,"y":335,"wires":[[]]},{"id":"e04c6cbc.be82e","type":"swagger client","z":"9bfb234b.34c3f","name":"","url":"https://petstore.swagger.io/v2/swagger.json","api":null,"resource":null,"swaggerClient":"","x":413,"y":105,"wires":[[]]},{"id":"edf7107d.102a9","type":"fawryClient","z":"9bfb234b.34c3f","mongodb":"","name":"","url":"","api":"Pet","resource":"addPet","params":"","fawryClient":"","test":"hi","x":338.5,"y":167,"wires":[[]]},{"id":"864467af.18b098","type":"inject","z":"9bfb234b.34c3f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113.5,"y":158,"wires":[["edf7107d.102a9"]]}]