flows_belal-ThinkPad-T480.json
[{"id":"9e979eff.c6e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1fc8e26.f7cf8","type":"inject","z":"9e979eff.c6e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143.5,"y":37,"wires":[["bf13842e.901408"]]},{"id":"90f65b72.ab2cd8","type":"debug","z":"9e979eff.c6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":698.5,"y":77,"wires":[]},{"id":"bf13842e.901408","type":"function","z":"9e979eff.c6e4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":368.5,"y":189,"wires":[["90f65b72.ab2cd8"]]}]