flow.json
[{"id":"1b2498b6.bc9fa7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9a1ad1ea.07f49","type":"inject","z":"1b2498b6.bc9fa7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["a9cae0c2.84648"]]},{"id":"52c742e4.2c81ac","type":"debug","z":"1b2498b6.bc9fa7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":140,"wires":[]},{"id":"a9cae0c2.84648","type":"function","z":"1b2498b6.bc9fa7","name":"temp","func":"msg.payload = \"belal tarek mohamed abouzaid\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["52c742e4.2c81ac"]]}]